<div style="text-align: center; font-weight: bold;">
    <p>Criado por João Marcus.</p>
    <p>Curso de Rodrigo Branas.</p>
    <span style="font-size: small;">Siga o <a href="https://github.com/rodrigobranas/youtube" target="_blank">Rodrigo Branas</a> nas rede sociais.</span>
    <div class="redesSociais">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=_y7rKxqPoyg&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb" target="_blank"><img src="img/youtubeImage.png" alt="youtubeImg"></a></li>
            <li><a href="https://www.facebook.com/canalrodrigobranas" target="_blank"><img src="img/facebookImage.png" alt="facebookImg" id="facebookPadrao"></a></li>
            <li><a href="https://github.com/rodrigobranas/youtube" target="_blank"><img src="img/githubImagem.png" alt="githubImg" id="githubPadrao"></a></li>
        </ul>
    </div>
</div>